{"configSettings":[{"appID":"SharedServerToken","serverToken":"H2UJDFNFFG6S5U456PPJY43D2COK44DX"},{"appID":"voiceSDK_fr","serverToken":""},{"appID":"voiceSDK_en","serverToken":""},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"1740160663445888","serverToken":"H2UJDFNFFG6S5U456PPJY43D2COK44DX"}]}